/* 
    Document   : ADRBasic.inc
    Created on : 4-Oct-2010, 4:00:18 PM
    Author     : default
    Description:
        Purpose of the stylesheet follows.
*/

#playerFLV embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playerFlexPaper embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-datastream-icon {
    background-image:url(../images/icon/add.png);
}

.edit-datastream-icon {
    background-image:url(../images/icon/edit.gif);
}

.view-datastream-icon {
    background-image:url(../images/icon/view.gif);
}

.download-datastream-icon {
    background-image:url(../images/icon/blue_down.png);
}

.remove-datastream-icon {
    background-image:url(../images/icon/remove.png);
}

.file-item {
    padding-top: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}
.file-item.x-item-selected {
    background-color: #D3E1F1 !important;
}

.file-item .file-item-label {
    text-align: center;
}

.file-item .file-item-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 96px;
    width: 96px;
}

.file-item .file-item-dsid {
    text-align: center;
    font-size: 1.3em;
}

.member-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.member-item-img {
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 64px;
    width: 64px;
}

/*
.member-item-label {
    text-align: center;
    
}

.member-item-description {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}*/

.x-list-selected {
    background-color: #ffff00;
}

.x-list-over {
    background-color: #eeeebb;
}